@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');
:root {
   --color-black: hsl(0, 0%, 10%);
   --color-darks: hsl(0, 0%, 25%);
   --color-greys: hsl(0, 0%, 60%);
   --color-light: hsl(0, 0%, 95%);
   --color-white: hsl(0, 0%, 100%);

   --color-blue-100: hsl(217, 91%, 65%);
   --color-blue-200: hsl(221, 83%, 55%);
   --color-blue-300: hsl(224, 76%, 45%);

   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.theme-light {
   --dark-text: #181618; /* Dark text color for light theme */
   --light-text: #5E4B56; /* Lighter text for contrast */
   --theme-background: #FFFFFF; /* Main background color */
   --light-background: #EDDCD2; /* Light background for sections */
   --accent: #5f6564; /* Accent color */
   --button-border: #5E4B56; /* Button border color */
   --color-brand: hsl(221, 83%, 55%); /* Brand color */
   --color-nav-link: hsl(221, 83%, 55%); /* Navigation link color */
   --color-menu: hsl(0, 0%, 86%); /* Menu background color */
   --color-search-block: hsl(226, 100%, 96%); /* Search block background */
   --button-theme: #007BFF; /* Button color */
   --hover-background: hsl(221, 83%, 90%); /* Hover effect for buttons */
   --divider: hsl(0, 0%, 80%); /* Divider color for separation */
 }
 
 .theme-dark {
   --dark-text: #e1dada; /* Light text for dark theme */
   --light-text: #FFFFFF; /* White text for better contrast */
   --theme-background: #192734; /* Dark background */
   --light-background: #586F7C; /* Light background for sections */
   --accent: #B8DBD9; /* Accent color */
   --button-border: #B8DBD9; /* Button border color */
   --color-brand: hsl(221, 95%, 75%); /* Brand color */
   --color-nav-link: hsl(221, 95%, 75%); /* Navigation link color */
   --color-menu: hsl(0, 1%, 27%); /* Menu background */
   --color-search-block: #568196; /* Search block background */
   --button-theme: #007BFF; /* Button color */
   --hover-background: hsl(221, 95%, 85%); /* Hover effect for buttons */
   --divider: hsl(0, 0%, 40%); /* Divider color for separation */
 }

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
}

body {
   font-family: "Rubik", ui-sans-serif, system-ui, -apple-system, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: var(--color-black);
   background-color: var(--theme-background);
}

main {
   overflow: hidden;
}

a,
button {
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   text-transform: unset;
}

.create-button {
   width: calc(100% - 20px);
   max-width: 30rem;
   padding: 10px;
   margin: 10px 10px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   background-color: var(--button-theme);
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

img {
   image-rendering: -webkit-optimize-contrast;
   image-rendering: -moz-crisp-edges;
   image-rendering: crisp-edges;
}

// Elements
.section {
   margin: 0 auto;
   padding: 5rem 0 2rem;
}

.container {
   max-width: 75rem;
   height: 100%;
   margin: 0 auto;
   padding: 0 1.25rem;
}

.brand {
   font-family: inherit;
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.5;
   letter-spacing: -1px;
   text-transform: uppercase;
   color: var(--color-brand);
}

.settings-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   z-index: 10;
   padding: 5rem 0;
}

// Header
.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: auto;
   z-index: 10;
   margin: 0 auto;
   background-color: var(--color-dark);
   box-shadow: var(--shadow-medium);
}

.navbar {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 4rem;
   margin: 0 auto;
}

.menu {
   position: fixed;
   top: 0;
   left: -100%;
   width: 80%;
   height: 100%;
   z-index: 10;
   overflow-y: auto;
   background-color: var(--color-menu);
   box-shadow: var(--shadow-medium);
   transition: all 0.5s ease-in-out;

   &.is-active {
      top: 0;
      left: 0;
   }

   &-inner {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
      margin: 1.25rem;
   }

   &-link {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;
      color: var(--color-nav-link);
      transition: all 0.3s ease;

      &:hover {
         color: var(--color-nav-link);
      }
   }

   // Media Query Breakpoint
   @media only screen and (min-width: 48rem) {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      margin-left: auto;
      background: none;
      box-shadow: none;

      &-inner {
         display: flex;
         flex-direction: row;
         column-gap: 1.75rem;
         margin: 0 auto;
         margin-right: 5rem;
      }

      &-link {
         text-transform: capitalize;
      }

      &-block {
         margin-left: 2rem;
      }
   }
}

.toggle-label {
  margin: 10px; /* Added line */
  padding: 5px; /* Added line */
  color: var(--dark-text);
}

.toggle-text {
  margin: 10px; /* Added line */
  padding: 5px; /* Added line */
  color: var(--dark-text);
}

h1 {
   text-align: center;
   color: var(--light-text);
}

h2 {
   text-align: center;
   color: var(--light-text);
}


// Burger
.burger {
   position: relative;
   display: block;
   cursor: pointer;
   order: -1;
   width: 1.6rem;
   height: auto;
   border: none;
   outline: none;
   visibility: visible;

   &-line {
      display: block;
      cursor: pointer;
      width: 100%;
      height: 2px;
      margin: 6px auto;
      transform: rotate(0deg);
      border-radius: 1rem;
      background: var(--accent);
   }

   // Media Query Breakpoint
   @media only screen and (min-width: 48rem) {
      display: none;
      visibility: hidden;
   }
}

// Overlay
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(0, 0, 0, 0.6);
   transition: all 0.3s ease-in-out;

   &.is-active {
      display: block;
      opacity: 1;
      visibility: visible;
   }
}

// Search Bar
.search {
   &-toggle,
   &-cancel {
      display: block;
      cursor: pointer;
      font-size: 1.45rem;
      line-height: inherit;
      color: var(--accent);
   }

   &-block {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      z-index: 10;
      overflow: hidden;
      background-color: var(--color-search-block);
      transition: all 0.35s ease-in-out;

      &.is-active {
         top: 0;
         right: 0;
      }

      // @media only screen and (min-width:
   }

   &-form {
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
      padding: 0.75rem 1rem;
   }

   &-input {
      display: block;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      width: 100%;
      height: auto;
      padding: 0.65rem 1.25rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      color: var(--color-black);
      background-color: var(--color-light);

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
         display: none;
         visibility: hidden;
      }
   }
}

label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

button {
   background-color: var(--button-theme);
   color: white;
   border: none;
   cursor: pointer;
   font-size: 16px;
}

button:hover {
   background-color: var(--button-theme);
}
table {
 width: 100%;
 padding: 10px;
 border-collapse: collapse;
 margin: 20px auto;
 margin-top: 20px;
}
table, th, td {
 border: 1px solid var(--light-text);
}
th, td {
 padding: 10px;
 text-align: left;
 font-size: 14px;
 color: var(--light-text);
}

.summary {
 margin-top: 20px;
}
.message {
 margin: 10px 10px 20px;
 padding: 10px;
 border-radius: 5px;
 display: none;
 font-size: 14px;
 width: calc(100% - 20px);
 position: fixed;  /* Fixes the position relative to the viewport */
 bottom: 0;       /* Positions the element at the bottom */
 left: 0;         /* Aligns the element to the left */
 padding: 10px;   /* Padding around the content */
 text-align: center; /* Center the text */
 z-index: 1000;   /* Ensures the element is above other content */
}
.success {
 background-color: #d4edda;
 color: #155724;
 border: 1px solid #c3e6cb;
}
.error {
 background-color: #f8d7da;
 color: #721c24;
 border: 1px solid #f5c6cb;
}
.paid {
 color: green;
 font-weight: bold;
}
.unpaid {
 color: red;
 font-weight: bold;
}

.form-container {
   max-width: 400px;
   margin: 50px auto;
   padding: 20px;
   border: 1px solid var(--button-border);
   border-radius: 5px;
   background-color: var(--theme-background);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .form-title {
   text-align: center;
   margin-bottom: 20px;
   font-size: 24px;
   color: var(--light-text);
 }
 
 .form-label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: var(--dark-text);
 }
 
 .form-input {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid var(--button-border);
   border-radius: 5px;
   box-sizing: border-box;
   font-size: 14px;
 }
 
 .error-message {
   color: red;
   font-size: 12px;
   margin-top: -10px;
   margin-bottom: 10px;
 }

 .button-container {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px; 
 }

 .cancel-button {
   width: 100%;
   padding: 10px;
   background-color: #ff0000;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 .submit-button {
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 .submit-button:hover {
   background-color: #0056b3;
 }